.flexTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flexTitle h1 {
    color: #a31313;
    margin: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #52637a;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-header p {
    margin: 0;
    /* padding: 15px; */
    /* min-height: 16.42857143px; */
    background-color: #aa1515;
    color: #fff;
    text-align: center;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 35px 15px;
    /* background-color: #aa1515; */
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-body p {
    color: #000;
    flex: 1;
}

.modal-body .restrict-img {
    width: 50px;
    padding-top: 2rem;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    background-color: #fff;
}

.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px;
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.clickable {
    cursor: pointer;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

.clearfix:before,
.clearfix:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}

.clearfix:after,
.modal-footer:after {
    clear: both;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.hidden {
    display: none !important;
}

.affix {
    position: fixed;
}

.img-responsive-height {
    display: block;
    width: auto;
    max-height: 100%
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.signCenter {
    text-align: center;
}

.closeSymbol {
    color: #fff;
    font-size: 40px;
    border: 3px solid #fff;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    font-weight: 700;
    text-align: center;
    padding: 0 15px;
}

.closeftr {
    display: inline-flex;
    align-items: center;
    background-color: #55c2da;
    color: #fff;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 1.5rem;
    height: 47px;
}

span.bold {
    font-weight: bold;
}

.age-restrict-image {
    max-width: 100%;
    margin-right: 1rem;
}

@media (max-width: 500px) {
    .modal-body {
        flex-direction: column;
    }
    .modal-body-content {
        flex-direction: row;
    }

    .modal-body .restrict-img {
        padding-top: 0;
        margin-left: 2rem;
    }
}