.faqs-heading {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.faqs-content {
    display: flex;
    flex-wrap: wrap;
}

.faqs-content p {
    font-size: 1.4rem;
    color: #333;
}

.faq-content {
    width: 50%;
}

.faq-content:nth-child(odd) {
    padding-right: 10px;
}

.faq-content:nth-child(even) {
    padding-left: 10px;
}

.faqs-wrapper-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media (max-width: 750px) {
    .faq-content {
        width: 100%;
        padding: 0;
    }

    .faq-content:nth-child(odd) {
        padding-right: 0;
    }

    .faq-content:nth-child(even) {
        padding-left: 0;
    }
}