.faqs-heading {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.faqs-content {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 2rem;
}

.faqs-content p {
    font-size: 1.4rem;
    color: #333;
}

.faq-content {
    display: none;
}

.faq-content.active {
    display: block;
}

.faqs-content-left {
    height: fit-content;
    border-right: 1px solid rgba(var(--color-foreground), .08);
    padding-right: 1rem;
}

.faq-title {
    cursor: pointer;
}

.faq-title:not(:last-child) {
    border-bottom: 1px solid rgba(var(--color-foreground), .08);
}

.faq-title:hover h2 {
    font-weight: bold;
}

.faq-title.active h2 {
    font-weight: bold;
}

.faqs-wrapper-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media (max-width: 750px) {
    .faq-content {
        width: 100%;
        padding: 0;
    }

    .faq-content:nth-child(odd) {
        padding-right: 0;
    }

    .faq-content:nth-child(even) {
        padding-left: 0;
    }
}