.focus-collecions-contents {
  display: grid;
  gap: 20px;
}

.focus-collecions-contents>div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 64%;
  overflow: hidden;
}

.focus-collecions-contents>div::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.focus-collecions-contents>div:hover:before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.focus-collecions-contents>div:nth-child(2) {
  padding-top: 0;
}

.focus-collecion-badge {
  width: fit-content;
}

.focus-collecions-title {
  grid-column: 1 / span 1;
  grid-row: 1;
}

.focus-collecions-content1 {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.focus-collection-button {
  padding: 10px 40px;
  max-width: 200px;
  text-align: center;
  border-radius: 5px;
}

.focus-collecion-badge {
  padding: 5px 10px;
  border-radius: 6px;

}

.focus-collecion-badge h3 {
  margin: 0;
}

.content-top>h2,
.content-top>h3 {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .focus-collecions-contents {
    display: flex;
    flex-direction: column;
  }
}