.section-marketing-message {
  position: sticky;
  z-index: 10;
  width: 100%;
  top: var(--header-height);
  transition: top 0.15s ease-out;
}

.section-marketing-message.fixed {
  top: var(--header-height);
}

.section-marketing-message.animate {
  top: calc(var(--header-height)*2);
}

@media screen and (max-width: 749px) {}

@media screen and (max-width: 989px) {
  .section-marketing-message {
    top: calc(var(--header-height)*2);
  }
  
  .section-marketing-message.fixed {
    top: calc(var(--header-height)*2);
  }
  
  .section-marketing-message.animate {
    top: calc(var(--header-height)*2);
  }
}

.marketing-message-list {
  justify-content: space-between;
}

.marketing-message-list__item.center .marketing-message-card__image-wrapper:not(.marketing-message-card__image-wrapper--full-width),
.marketing-message-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 750px) {}

.marketing-message-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.marketing-message-list__item:only-child {
  max-width: 72rem;
}

.marketing-message-list__item--empty {
  display: none;
}

.marketing-message-card {
  display: flex;
  align-items: center;
}

.marketing-message-list p {
  margin: 0;
  letter-spacing: 0;
  font-size: 1.2rem;
}

.marketing-message-card__info> :nth-child(2) {
  margin-top: 1rem;
}

.marketing-message-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

@media screen and (max-width: 749px) {
  .marketing-message-list {
    margin: 0;
    width: 100%;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .marketing-message-list {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 750px) {

  .marketing-message-list.grid--4-col-desktop {
    padding: 0;
  }

  .marketing-message-list__item,
  .grid--4-col-desktop .marketing-message-list__item {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 749px) {
  .marketing-message.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

.marketing-message-card {
  position: relative;
  box-sizing: border-box;
}

.marketing-message-card>.marketing-message-card__image-wrapper--full-width:not(.marketing-message-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

@media screen and (min-width: 990px) {
  .marketing-message-list__item--empty {
    display: list-item;
  }
}

@media (max-width: 990px) {
  .marketing-message-card {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .marketing-message-list {
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0;
  }

  .marketing-message-list li:nth-child(1) {
    display: flex;
    justify-content: end;
    border-right: 2px solid #9b9b9b;
    padding-right: 10px;
    width: fit-content;
  }

  .marketing-message-list li:nth-child(2) {
    display: flex;
    justify-content: start;
    padding-left: 10px;
    width: fit-content;
  }

  .marketing-message-list li:nth-child(1) .marketing-message-card__image-wrapper,
  .marketing-message-list li:nth-child(2) .marketing-message-card__image-wrapper {
    display: none;
  }

  .marketing-message-list li:nth-child(1) .marketing-message-card__info p,
  .marketing-message-list li:nth-child(2) .marketing-message-card__info p {
    text-align: center;
  }

  .marketing-message-list li:nth-child(3),
  .marketing-message-list li:nth-child(4) {
    display: none;
  }
}

@media (max-width: 1150px) {
  .marketing-message-list {
    justify-content: space-around;
  }

  .marketing-message-list li:nth-child(3),
  .marketing-message-list li:nth-child(4) {
    display: none;
  }
}

.img_wrapper {
  display: flex;
  align-items: center;
  margin-right: 15px;
}